<div class = "row">
<div class = "col-md-1"></div>
<div class = "col-md-10">
<form action="postdevice" method="post">
    <fieldset>
      <legend>Create a new device hbs</legend>
      <label>
        Device Name:
        <input type="string" name="devicename" /><br>
        <label>Project
        <input type="string" name="Project" /><br>
        <br><br><input type="submit" value="Create device" />
      </label>
    </fieldset>
  </form>